Repository openobservatoryteam/open-observatory, pull requests merged in 2023-03, with the labels that each got.

#33 test: full coverage for UserService
  src/main/java/fr/openobservatory/backend/dto/ChangePasswordDto.java
  src/main/java/fr/openobservatory/backend/dto/RegisterUserDto.java
  src/main/java/fr/openobservatory/backend/dto/UpdateProfileDto.java
  src/main/java/fr/openobservatory/backend/dto/UserDto.java
  src/main/java/fr/openobservatory/backend/services/UserService.java
  src/test/java/services/UserServiceTest.java
Labels: backend, test

#39 feature: profile page
  frontend/src/api/types.ts
  frontend/src/api/users.ts
  frontend/src/components/molecules/Achievements.tsx
  frontend/src/layout/Header.tsx
  frontend/src/routes/ProfilePage.tsx
  frontend/src/routes/index.tsx
Labels: enhancement, frontend

#48 fix: set cascades to relations
  src/main/java/fr/openobservatory/backend/entities/CelestialBodyEntity.java
  src/main/java/fr/openobservatory/backend/entities/ObservationEntity.java
  src/main/java/fr/openobservatory/backend/entities/UserEntity.java
Labels: bug, backend

#49 feature: ISS position
  build.gradle
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/@types.ts
  frontend/src/api/index.ts
  frontend/src/api/iss.ts
  frontend/src/assets/satellite.svg
  frontend/src/components/index.ts
  frontend/src/components/molecules/ISSPositions.tsx
  frontend/src/routes/HomePage.tsx
  frontend/src/translation/en.json
  frontend/src/translation/fr.json
  src/main/java/fr/openobservatory/backend/configuration/CacheConfiguration.java
  src/main/java/fr/openobservatory/backend/configuration/RestTemplateConfiguration.java
  src/main/java/fr/openobservatory/backend/controllers/ISSController.java
  src/main/java/fr/openobservatory/backend/dto/ISSPositionDto.java
  src/main/java/fr/openobservatory/backend/exceptions/UnavailableISSPositionsException.java
  src/main/java/fr/openobservatory/backend/services/ISSService.java
Labels: enhancement, backend, frontend

#51 feat(observations): optimized lookups for nearby observations + filter expired observations
  frontend/src/api/observations.ts
  frontend/src/components/molecules/ISSPositions.tsx
  frontend/src/components/molecules/NearbyObservations.tsx
  src/main/java/fr/openobservatory/backend/controllers/ObservationController.java
  src/main/java/fr/openobservatory/backend/repositories/ObservationRepository.java
  src/main/java/fr/openobservatory/backend/services/ObservationService.java
Labels: bug, backend, frontend

#53 Added inability to create an observation in the future
  frontend/src/components/atoms/DatePicker.tsx
  frontend/src/routes/ReportObservationPage.tsx
  src/main/java/fr/openobservatory/backend/exceptions/InvalidObservationCreationTimeException.java
  src/main/java/fr/openobservatory/backend/services/ObservationService.java
Labels: bug, backend, frontend

#54 refactor(ci): simplified steps + optimized components
  .dockerignore
  .github/workflows/sonar.yml
  Dockerfile
  build.gradle
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  nginx.conf
  settings.gradle
Labels: ci
